@media (max-width: 575px) {
  .container.open {
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    top: 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background-color: white;
    padding-bottom: 0px;
  }
  .container {
  }
  .container p {
    font-size: 15px;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .container li {
    border-bottom: 1px black solid;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .container {
    transition: height 3s ease-in-out;
  }
  .container.open {
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background-color: white;
    padding-bottom: 40px;
  }
  .container {
    margin: 0;
  }
  .container p {
    font-size: 17px;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .container li {
    border-bottom: 1px black solid;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .container {
    transition: height 3s ease-in-out;
  }
  .container.open {
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background-color: white;
    padding-bottom: 40px;
  }
  .container p {
    font-size: 20px;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .container li {
    border-bottom: 1px black solid;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    transition: height 3s ease-in-out;
  }
  .container.open {
    padding-top: 10px;
    z-index: 1000;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    min-height: 20vh;
    background-color: white;
    padding-bottom: 40px;
  }
  .container p {
    font-size: 25px;
  }
  .container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  .container li {
    border-bottom: 1px black solid;
  }
}
@media (min-width: 1200px) {
  .container p {
    font-size: 15px;
  }
  .container {
  }
  .container ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    align-items: center;
    justify-content: center;
  }

  .container li {
    border-bottom: 1px black solid;
  }
}
