.container {
  width: 100%;
}
.tabContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 200px;
}
.container h1 {
  text-align: left;
}
.swipeTab {
}
