@media (max-width: 575px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 20%;
    align-items: center;
    gap: 60px;
  }
}
@media (min-width: 576px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 15%;
    align-items: center;
    gap: 80px;
  }
}

@media (min-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 10%;
    align-items: center;
    gap: 50px;
  }
}

@media (min-width: 992px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 7%;
    align-items: center;
    gap: 70px;
  }
}

@media (min-width: 1200px) {
  .home {
    display: flex;
    flex-direction: column;
    margin: 2%;
    margin-top: 7%;
    align-items: center;
    gap: 120px;
  }
}
