@media (max-width: 576px) {
  .services {
    width: 100%;
  }
  .services h1 {
  }
  .services h2 {
  }
  .services p {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .sections {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  .sections h2 {
    text-align: left;
    margin-left: 0;
    margin-top: 2px;
    font-size: 13px;
  }

  .sections img {
    position: relative;
    width: 40vw;
    border-radius: 20px;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 1);
  }
  .sections button {
    margin-top: 0.3vw;
    width: 17vw;
    height: 5vw;
    font-size: 2.5vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.8vw;
    transition: all 0.3s;
  }
  .sections button:hover {
    background-color: #54ea54;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .services {
    width: 100%;
  }
  .services h1 {
  }
  .services h2 {
  }
  .services p {
  }
  .sections {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
  }
  .sections h2 {
    text-align: left;
    margin-left: 0;
    margin-top: 2px;
    font-size: 20px;
  }
  .sections img {
    position: relative;
    width: 250px;
    border-radius: 20px;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 1);
  }
  .sections button {
    margin-top: 0.3vw;
    width: 13vw;
    height: 4vw;
    font-size: 2vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 1vw;
    transition: all 0.3s;
  }

  .sections button:hover {
    background-color: #54ea54;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .services {
    width: 100%;
  }
  .services h1 {
  }
  .services h2 {
  }
  .services p {
    margin-top: 7px;
  }
  .sections {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sections h2 {
    text-align: left;
    margin-left: 0;
    margin-top: 2px;
    font-size: 14px;
  }
  .sections img {
    position: relative;
    width: 20vw;
    border-radius: 10px;
  }
  .sections button {
    margin-top: 0.3vw;
    width: 8vw;
    height: 2.5vw;
    font-size: 1.2vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.8vw;
    transition: all 0.3s;
  }
  .sections button:hover {
    background-color: #54ea54;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .services {
    margin-top: 0px;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .services p {
    margin-top: 5px;
  }
  .sections {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .sections h2 {
    text-align: left;
    margin-left: 0;
    margin-top: 5px;
    font-size: 17px;
  }
  .sections img {
    position: relative;
    width: 20vw;
    border-radius: 20px;
    box-shadow: inset 0 0 20px 10px rgba(0, 0, 0, 1);
  }
  .sections button {
    margin-top: 0.3vw;
    width: 8vw;
    height: 2.5vw;
    font-size: 1.2vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.8vw;
    transition: all 0.3s;
  }
  .sections button:hover {
    background-color: #54ea54;
  }
}

@media (min-width: 1200px) {
  .services {
    margin-top: 0px;
    width: 100%;
  }
  .container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .services h1 {
  }
  .services p {
    margin-top: 5px;
    margin-left: 35px;
    margin-bottom: 15px;
  }
  .sections {
    display: flex;

    justify-content: space-between;
    gap: 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 20px;
  }
  .sections h2 {
    text-align: left;
    margin-left: 0;
    margin-top: 10px;
    font-size: 20px;
  }
  .sections img {
    width: 21vw;
    border-radius: 10px;
  }
  .sections button {
    margin-top: 0.3vw;
    width: 7.5vw;
    height: 2vw;
    font-size: 1.1vw;
    background-color: white;
    border: 1px solid black;
    border-radius: 0.8vw;
    transition: all 0.3s;
  }
  .sections button:hover {
    background-color: #54ea54;
  }
}
