@media (max-width: 575px) {
  .tab {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    width: 90vw;
    height: 60px;
    cursor: pointer;
    transition: height 0.25s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tab h2 {
    margin: 20px;
  }
  .open {
    border-top: 3px #54ea54 solid;
    height: 100px;
    justify-content: flex-start;
  }
  .open h2 {
    font-size: 17px;
    margin: 15px;
    margin-bottom: 15px;
  }
  .open p {
    margin: 15px;
    margin-top: 0;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .tab {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 90vw;
    height: 80px;
    cursor: pointer;
    transition: height 0.25s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tab h2 {
    margin: 30px;
  }
  .open {
    border-top: 3px #54ea54 solid;
    height: 150px;
    justify-content: flex-start;
  }
  .open h2 {
    font-size: 28px;
    margin: 15px;
    margin-bottom: 15px;
  }
  .open p {
    margin: 15px;
    margin-top: 0;
  }
}

@media (min-width: 768px) and (max-width: 997px) {
  .tab {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 400px;
    height: 70px;
    cursor: pointer;
    transition: height 0.25s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tab h2 {
    margin: 20px;
  }
  .open {
    border-top: 3px #54ea54 solid;
    height: 125px;
    justify-content: flex-start;
  }
  .open h2 {
    font-size: 20px;
    margin: 15px;
    margin-bottom: 15px;
  }
  .open p {
    margin: 15px;
    margin-top: 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .tab {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;
    width: 450px;
    height: 75px;
    cursor: pointer;
    transition: height 0.25s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tab h2 {
    margin: 20px;
  }
  .open {
    border-top: 3px #54ea54 solid;
    height: 150px;
    justify-content: flex-start;
  }
  .open h2 {
    font-size: 28px;
    margin: 15px;
    margin-bottom: 15px;
  }
  .open p {
    margin: 15px;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .tab {
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 20px;

    width: 50vw;
    height: 100px;
    cursor: pointer;
    transition: height 0.25s ease;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tab h2 {
    margin-left: 40px;
  }
  .open {
    border-top: 3px #54ea54 solid;
    height: 150px;
    justify-content: flex-start;
  }
  .open h2 {
    font-size: 33px;
    margin: 20px;
    margin-bottom: 10px;
  }
  .open p {
    margin: 20px;
    margin-top: 0;
  }
}
