input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Optional - if you want to remove the gap */
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 10px;
  align-items: center;
}
.labels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  gap: 25px;
  align-items: flex-start;
  text-align: left;
}
.container input {
  width: 400px;
  height: 30px;
}
